<h1>Hi my name is <%= @dog.name %></h1>

<h3>Here are some things about me!</h3>
<strong>Breed:</strong> <%= @dog.breed %><br><br>
<strong>Gender:</strong> <%= @dog.gender %><br><br>
<strong>Age:</strong> <%= @dog.age %><br><br>
<strong>Word on the street is:</strong> <%= @dog.description %>

